*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Serif', serif;
}


.nav {
	
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.logo{
	width: 20%;
	height: 100%;
	

}
.logo__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform: rotate(360deg);
	transition: 0.3s;
}
.ul {
	list-style: none;
	display: flex;
	width: 40%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}

nav ul li a {
	text-decoration: none;
}

.ul__li {
	display: inline;
	margin: 5%;
	font-size: 1.5rem;

}



.sectionone {
	background-color: #fff86c;
	opacity: 0.9;
}
.sectionone img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	position:relative;
}


.form {
	width: 350px;
	height: 300px;
  	padding: 20px 30px;
  	margin: auto;
  	border-radius: 4px;
  	font-size: 22px;
  	box-shadow: 7px 13px 37px ;

 
}
.socios__animation {
	transition: transform 0.5s;
	transform: scale(1.3);
}

.logo__img {

	width: 150px;
	display: flex;
	size: 1.5rem;  
}


footer {
	background: rgb(180,58,165);
	background: linear-gradient(90deg, rgba(180,58,165,0.8827906162464986) 0%, rgba(252,142,69,1) 100%);
}

footer ul {
	
	margin: 100%;
	height: 75px;
	padding: 10px 11px;
}

footer ul li {


	display: inline;
	font-size: 1.5rem; 
	text-align: center;
	margin: auto;
	padding: 11px 10px;
	justify-content: center;
	text-decoration: none;
}

.button__cotizar {
	width: 100%
	background-color:orange;
}


.article__h2 {
	font-size: 5rem;
	order: -1; 
	margin: revert;
}

.article__h3 {
	font-size: 4rem;
	order: 0
}
h3 span {
	color: #5cc7d9;
	font-size: 5rem;
}

.section{
	display: flex;
	size: 100vh;

}
.input {
	width: 100%;
	border: 1px solid orange;
	margin-bottom: 15px;
	padding: 11px 10px;
	font-size: 14px;
}

form button {
	background-color: orange;
}

.footer__ul {
	width: 100%;
	height: 50px;
	margin: auto;
	padding: 10px 11px;
	font-size: 1.5rem;
}

.diviniciarseion{
	display: flex;
}


.newuser{
	order: 10;
}

.form__user{
	padding: 3rem 2rem;
}

.newuser {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 300px;
	position: absolute;
  	top: 55%;
  	left: 35%;
  	padding: 20px 30px;
  	margin: auto;
  	border-radius: 4px;
  	font-size: 22px;
  	box-shadow: 7px 13px 37px ;
}

aside form h3 {
	text-align: justify-all;
}
.mainis{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px 11px;
}

.foris {
	display: flex;
	width: 100%;
	height: 300px;
	border: 2px solid green;
	padding: 20px 30px;
	flex-direction: column;
	border-radius: 4px;
  	font-size: 22px;
  	box-shadow: 7px 13px 37px ;

}

.foris__input {
	justify-content: center;
	padding: 10px 11px;

}

.bodyindex{
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 80% 10%;
	grid-template-areas: 
	"nav"
	"sectionone"
	"footer"
}

.bodyis  {
	display: grid;
	border: 3px solid aqua;
	min-height: 100vh;
	padding: 2rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 10% 80% 10%;
	grid-template-areas: 
	"nav nav"
	"form1 form2"
	"footer footer"
}	



.navis1{
	grid-area: ele1;
	background-color: green;
	display: flex;
}

.iniciarsesion {
	grid-area: ele2;
	background-color: orange;
}

.registrarse {
	grid-area: ele3;
	background-color: blue;
}



.nav {
	grid-area: nav;
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
}




.bodyreservar {
	display: grid;
	border: 3px solid aqua;
	min-height: 100vh;
	padding: 2rem;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 80% 10%;
	grid-template-areas: 
	"nav"
	"form__cotizar"
	"footer"
}	
.bodysocios{
	display: grid;
	min-height: 100vh;
	padding: 2rem;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 80% 10%	;
	grid-template-areas: 
	"nav"
	"form__socios"
	"footer"
}
.mainsocios {
	display: flex;
	grid-template-areas: 
}

.nav {
	grid-area: nav;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	font-size: 1rem;
}


.mainsocios {
	grid-area: form__socios;
	display: flex;
	flex-direction: column;
	background-color: yellow;
	opacity: 0.7;
  	border-radius: 4px;
  	font-size: 3rem;
  	box-shadow: 7px 13px 37px ;
  	
  	
  	
}

.mainsocios__input {
	display: block;
	justify-content: center;
	padding: 10px;
	width: 100%;


}

.nav {
	grid-area: nav;
	width: 100%;
	display: flex;
	
	
}

.sectionone {
	grid-area: sectionone;
	display: flex;
	width: 100%;
	height: 100%;
	background-image: linear-gradient (to left, red, yellow);
}

.sectionone div img {
	width: 80%; 
	height: 100%;
	object-fit: cover;
}



@media screen and (max-width: 1023px){
	.bodyindex {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 10% 80% 10%;
		grid-template-areas: 
		"nav"
		"sectionone"
		"footer"
	}
}
@media screen and (max-width: 1023px) {
	.nav {
		flex-direction: column;
		width: 100%;
	}	
}

@media screen and (max-width: 1023px){
	.sectionone {
		flex-direction: column;
		width: 100%;
	}	
}
@media screen and (max-width: 1023px){
	.footer {
		flex-direction: column;

	}

	.footer__ul {
		width: 75%;
		font-size: 1.5rem;
	}


	}
	section div h2, section div h3 {
		flex-direction: column;
		align-content: center;
	}
	.form {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		width: 75%;
		padding: 0;

	}

	.sectionone {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: 2px;
		align-content: stretch;
		margin: 0;
		padding: 0;

	}

	.text {
		width: 100%;
		align-items: flex-start;
		display: block;
	}

	.ul {
		width: 80%;
		height: 50%;
		flex-direction: row;
		font-size: 10px;
	}

	.ul__li{
		width: 100%;
		height: 100%;
		font-size: 1.2rem;
		align-content: flex-end;
	}

	.logo {
		display: none;
	}

	footer ul li {
		width: 80%;
		height: 50%;
		flex-direction: row;
		font-size: 10px;	
	}

.span__pf{
	font-size: 2rem;
	color: aqua;
	width: 100%;

}




.span__qf {
	font-size: 1rem;
	width: 100%;
}

.textyform{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
	background: rgb(255,187,103);
	background: linear-gradient(90deg, rgba(255,187,103,1) 21%, rgba(255,248,108,1) 75%);

	
}
.gradient__nav {
	
				background: rgb(255,187,103);
				background: linear-gradient(90deg, rgba(255,187,103,1) 21%, rgba(255,248,108,1) 75%);

	}



.bodypf {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"nav"
	"mainpf"
	"footer"
}


.mainpf{
	display: flex;
	grid-area: mainpf;
}


.bodyreservar {
	display: grid;
	grid-column: 1fr;
	grid-row: 10% 80% 10%;
	grid-template-areas: 
	"nav"
	"sectionone"
	"footer";
}

.mainsocios__h2 {
	font-size: 4.5rem;
	text-align: center;
	margin: 3rem;
	padding: 2rem;
}


@media screen and (max-width: 1023px) {
	.bodysocios {
		width: 100%;
		height:100%;
	}

	.mainsocios__h2{
		font-size: 3rem;
	}

	.mainsocios__h5 {
		font-size: 2rem;
	}
}

.nav {
	background-image: linear-gradient (to left, red, yellow)
}


.imagen__customer{
	image-resolution: c ;
}

.logo__img {
	height: 5rem;
}

.transiciontext:hover {
color: blue;
transition: 0.5s;
}


.logo__img:hover {
	transform: rotate(180deg);
	transition: 1s;
}

.card {
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.card-img-top {
	overflow: hidden;
	width: 450px;
	height: 350px;
	object-fit: cover;
	
}